// font variables
@body-font: 'Lato', sans-serif;
@heading-font: 'Oswald', sans-serif;
// spacing
@spacing-sm: .5rem;
@spacing-md: 1rem;
@spacing-lg: 2rem;
// blue color
@blue: deepskyblue;
// avatar image size
@avatar-sm: 33%;
@avatar-md: 55%;
// mobile first breakpoint variables
@wide-screen: ~'(min-width: 1200px)';
@desktop: ~'(min-width: 992px)';
@tablet: ~'(min-width: 768px)';
@phone-down: ~'(max-width: 500px)';

.reset() {
	margin: 0;
	padding: 0;
}

.flex-column() {
	display: flex;
	flex-direction: column;
}

// custom reset for modern browsers
html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  min-height: 0;
  min-width: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  line-height: 1.6;
  color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	font-family: @heading-font;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: 100%;
}

ul, li {
	list-style: none;
	.reset();
}

hr {
	margin: 0 @spacing-lg;
}

// page styles
.container {
	position: relative;
	min-height: 100vh;
}

header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: yellow;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3rem;
	padding: 0 @spacing-sm;
	z-index: 100;

	@media @phone-down { 
		justify-content: center;
	}

	nav {
		display: flex;
	}

	nav > a {
		font-size: 1.25rem;
		text-transform: uppercase;
		text-decoration: none;
		padding: 0 @spacing-sm;

		&:hover {
			background-color: darken(yellow, 5%);
			color: darken(@blue, 5%);
		}
	}
}

.marquee {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	// padding: @spacing-lg;
	margin-top: 3rem;
	z-index: 3;
	
	.top-info {
		.flex-column();
		justify-content: space-around;
		align-items: center;
		height: 80vh;
		margin-bottom: @spacing-lg;
		
		@media @desktop { 
			flex-direction: row;
		}

		@media @tablet { 
			height: 100vh;
		}
		
		img {
			width: 100%;
			object-fit: cover;
			object-position: center;

			@media @desktop { 
				object-position: top;
			}
		}
	}

	.top-info .intro {
		padding: @spacing-lg;
		h1 span {
			color: @blue;
		}
		p {}
	}

	.bottom-info {
		.flex-column();
		padding: @spacing-lg;
		p {

		}
		button {
			background-color: yellow;
			color: black;
			font-size: 1.25rem;
			text-transform: uppercase;
			padding: @spacing-md;
			margin-top: @spacing-lg;

			@media @desktop {
				width: 220px;
			}
		}
	}
}

.bio {
	display: flex;
	flex-direction: column;
	background-color: #fafafa;
	padding: @spacing-lg; 

	@media @desktop { 
		flex-direction: row;
		justify-content: space-between;
	}

	.listen {
		@media @desktop { 
			width: 48%;
		}

		p {
			margin: @spacing-lg 0;
		}
	}
	.skills {
		ul {
			padding: 0;
			margin: @spacing-lg 0;
		}

		ul > li:first-child {
			border-top: 1px solid #111
		}

		ul > li {
			color: @blue;
			font-weight: 500;
			padding: @spacing-sm;	
			border-bottom: 1px solid #111
		}

		@media @desktop { 
			width: 48%;
		}
	}
	h2 {
		font-weight: 600;
	}
}

.work {
	padding: @spacing-lg; 

	.faux-table {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 3em 0;
		padding: 0;
	}
	.faux-table-cell {
		box-sizing: border-box;
		flex-grow: 1;
		width: 100%;
		padding: 0.8em 0.5em;
		overflow: hidden;
		list-style: none;
		border: solid 3px white;
		background: fade(slategrey,20%);
		> h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
	}

	.label {
		background-color: #111;
		color: white;
	}

	.faux-table--2cols > .faux-table-cell  { width: 50%; }
	.faux-table--3cols > .faux-table-cell  { width: 33.33%; }
	.faux-table--4cols > .faux-table-cell  { width: 25%; }

}

footer {
	background-color: @blue;
	width: 100%;
	height: 8rem;;
	padding: @spacing-lg; 

	p {
		font-size: 1.5rem;
		color: white;
		text-align: center;
	}
}

